/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #ff5a5f;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Seção de Busca */
.search-filter {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

.search-filter h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.search-box input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 180px;
}

.search-box button {
    background-color: #ff5a5f;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #ff4a4f;
}

/* Cards de Acomodações */
.accommodation-cards {
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #f0f0f0;
}

.cta-button {
    background-color: #ff5a5f; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 12px 30px; /* Espaçamento interno */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
}

.cta-button:hover {
    background-color: #ff4a4f; /* Cor de fundo ao passar o mouse */
    transform: translateY(-5px); /* Efeito de leve movimentação */
}

.cta-button:focus {
    outline: none; /* Remove a borda de foco padrão */
}


.property-card {
    background-color: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.property-card:hover {
    transform: translateY(-10px);
}

.property-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.property-info {
    padding: 20px;
}

.property-info h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.property-info h4 {
    color: #ff5a5f;
    font-size: 1rem;
    margin-bottom: 20px;
}

.property-info p{
    font-size: 1.2rem;
    margin-bottom: 25px;
    color: #ff5a5f;
}

.property-info a {
    text-decoration: none;
    font-weight: bold;
    color: #ff5a5f;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .search-box {
        flex-direction: column;
        align-items: center;
    }

    .accommodation-cards {
        flex-direction: column;
        align-items: center;
    }
}
